@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
    @model DSValid.Models.User
    <p>@Model.Username</p>
    <p>@Model.Location</p>
    <p>@Model.Language</p>
    <p>@Model.Comment</p>