@model Good
<div class="row">
    <a href="/">Home</a>
</div>
<div class="row w-50 mx-auto">
    <h3 class="text-center w-100">Edit @Model.Name</h3>
</div>
<form asp-action="UpdateGood" asp-controller="Home" method="post" class="mx-auto w-50">
        <span asp-validation-for="Name"></span>
    <div class="row">
        <label asp-for="Name" class="col"></label>
        <input asp-for="Name" class="col">
    </div>
        <span asp-validation-for="Chef"></span>
    <div class="row">
        <label asp-for="Chef" class="col"></label>
        <input asp-for="Chef" class="col">
    </div>
        <span asp-validation-for="Tastiness"></span>
    <div class="row">
        <label asp-for="Tastiness" class="col"></label>
        <select asp-for="Tastiness" class="col">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
    </div>
        <span asp-validation-for="Calories"></span>
    <div class="row">
        <label asp-for="Calories" class="col"></label>
        <input asp-for="Calories" class="col">
    </div>
        <span asp-validation-for="Description"></span>
    <div class="row">
        <label asp-for="Description" class="col"></label>
        <textarea asp-for="Description" class="w-50"></textarea>
    </div>
    <input value="Edit Dish" type="submit">    
</form>
